<table class="table table-hover text-center">
  <thead>
    <tr>
      <th>Date</th>
      <th>Equipe a</th>
      <th>Score</th>
      <th>Equipe b</th>
      <th colspan="1"></th>
    </tr>
  </thead>

  <tbody>
    <%= render games %>
  </tbody>
</table>
