<tr class="<%= game.row_style %>">
  <td><%= game.date %></td>
  <td><%= game.equipea %></td>
  <td><%= game.score %></td>
  <td><%= game.equipeb %></td>
  <td><%= link_to game.show_title, game %></td>
</tr>
