<div class="container">
  <div class="row align-items-center justify-content-center">
    <div class="col-sm">
    <p>Running on: <%= Socket.gethostname %></p>
    </div>
    <div class="col-sm">
      <% if @username.nil? %>
        <%= form_for(:user, url: username_path, method: 'post', remote: true, html: {class: 'form-inline justify-content-center mb-2'}) do |f| %>
          <%= f.text_field(:name, value: @username, class: 'form-control bg-light', placeholder: 'Set your username') %>
          <%= f.submit 'Save', class: 'btn btn-light' %>
        <% end %>
      <% else %>
        <div class="text-center">
          <p class="font-weight-bold"><%= @username.capitalize %> you won <%= pluralize(@bet_won, 'bet') %></p>
        </div>
      <% end %>
    </div>
    <div class="col-sm justify-content-center">
    </div>
  </div>
  <div class="row align-items-center justify-content-center">
    <div class="col-sm ">
      <div>
        <%= image_tag("doloreanBTTC.png", class: @travel_direction, width: '150') %>
      </div>
    </div>
    <div class="col-sm justify-content-center">
      <div class="form-inline justify-content-center">
        <%= form_for(:date_filter, method: 'post', remote: true) do |f| %>
          <%= f.date_field(:travel_date , value: @travel_date - 1.day, class: 'form-control bg-light d-none', readonly: true ) %>
          <%= f.hidden_field(:travel_direction, value: 'backward') %>
          <%= f.submit '&lt;'.html_safe, class: 'btn btn-light' %>
        <% end %>
        <p class="form-control mb-0"><%= time_tag @travel_date %></p>
        <%= form_for(:date_filter, method: 'post', remote: true) do |f| %>
          <%= f.date_field(:travel_date , value: @travel_date + 1.day, class: 'form-control bg-light d-none', readonly: true ) %>
          <%= f.hidden_field(:travel_direction, value: 'forward') %>
          <%= f.submit '&gt;'.html_safe, class: 'btn btn-light' %>
        <% end %>
      </div>
    </div>
    <div class="col-sm justify-content-center">
    </div>
  </div>

  <br>

  <div class="container-fluid">
    <div class="row">
      <div class="col">
        <h3 class="text-center">Past games</h2>
        <%= render 'games_table', games: @past_games %>
      </div>
      <div class="col">
        <h3 class="text-center">Upcoming games</h2>
        <%= render 'games_table', games: @upcoming_games %>
      </div>
    </div>
  </div>
