<div class="container">
  <div class="row justify-content-md-center">
    <div class="col-md-auto">
      <%= link_to '&lt; back'.html_safe, games_path %>
      <h5>Game will be on: <%= @game.date %></h5>
      <table class="table text-center">
        <thead>
          <tr>
            <th>Equipe a</th>
            <th>Score</th>
            <th>Equipe b</th>
          </tr>
        </thead>

        <tbody>
          <tr>
            <td class="<%= @game.equipea_color %>"><%= @game.equipea %></td>
            <td><%= @game.score %></td>
            <td class="<%= @game.equipeb_color %>"><%= @game.equipeb %></td>
          </tr>
          <% if @game.bet_allowed? %>
            <tr>
              <td>
                <%= link_to "Bet #{@game.equipea} will win", bet_game_path(@game.id, @game.equipea), method: 'post', class: 'btn btn-success' %>
              </td>
              <td></td>
              <td>
                <%= link_to "Bet #{@game.equipeb} will win", bet_game_path(@game.id, @game.equipeb), method: 'post', class: 'btn btn-success' %>
              </td>
            </tr>
          <% end %>
        </tbody>
      </table>


      <h4>Bets</h4>
      <% if @game.bets.any? %>
        <table class="table text-center">
          <thead>
            <tr>
              <th>User</th>
              <th>will win?</th>
            </tr>
          </thead>

          <tbody>
            <% @game.bets.each do |bet| %>
              <tr>
                <td><%= bet.user %></td>
                <td><%= bet.bet_on %></td>
              </tr>
            <% end %>
          </tbody>
        </table>
      <% else %>
        No bet yet!
      <% end %>
    </div>
  </div>
</div>
