/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require bootstrap/dist/css/bootstrap.min.css
 *= require_tree .
 *= require_self
 */
html {
  overflow-y: scroll;
}

table {
  border: 0;
  box-shadow: 0 2px 6px 0 hsla(0,0%, 0%, 0.2);
}

.bg-color {
  background-color: lightgray;
}

.btn-light {
  background-color: #cbcbcb;
  border-color: #cacaca;
}

.forward {
  transform: scaleX(-1);
}
