<!DOCTYPE html>
<html>
  <head>
    <title>betting</title>
    <%= csrf_meta_tags %>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">


    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body class="container-fluid bg-color">
    <h1 class="text-center">Back to the future betting!</h1>
    <% if flash.any? %>
      <div class="container">
        <div class="row justify-content-md-center">
          <div class="col-md-auto">
            <p id="notice" class="alert alert-info"><%= notice %></p>
          </div>
        </div>
      </div>
    <% end %>
    <%= yield %>
  </body>
</html>
